fastapi
uvicorn[standard]
python-multipart
Pillow
ultralytics
requests
pytesseract
python-dotenv
google-generativeai

# Let pip resolve the best compatible version for your Python version
torch
torchvision